.CellBold {
  font-weight: bold;
}

.CodeView {
  margin: 1em;
  text-align: left;
}

.PageTitle {
  padding: 0.5em;
}

.SubmissionInformation {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
