.QuestionTitleEditor {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 30px;
  height: 50px;
  margin-bottom: 0.25em;
  width: 100%;
}

.QuestionTitleEditor:focus {
  border: 0;
  outline-width: 0;
}

.QuestionStatementEditor {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 15px;
  margin-bottom: 0.5em;
  outline: none;
  resize: none;
  width: 100%;
}

.EditorWrapper {
  width: 100%;
}

.TestCase {
  text-align: center;
  width: 100%;
}

.TestCase textarea {
  height: 100%;
  resize: none;
  width: 100%;
}

.TestCaseHeaderButtonWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.TestCase h3 {
  text-align: center;
}

.TestCaseDeleteButton {
  position: absolute;
  right: 0;
}

.TestCaseOutput {
  margin-bottom: 0.75em;
}
